# Virtuoso files /data/db
/data/db/*
!/data/db/virtuoso.ini
!/data/db/toLoad
!/data/db/toLoad/*

# Vocab fetch files /data/vocab-fetch
/data/vocab-fetch/*
!/data/vocab-fetch/.gitkeep

# Search
/data/elasticsearch
/config/search/update-handler.store

docker-compose.override.yml

__pycache__/

.env